:root {
  --van-nav-bar-height: 64px;
  --van-nav-bar-arrow-size:30px;
  --van-popup-close-icon-size:40px;
  --van-nav-bar-background:#4481FE;
  --van-nav-bar-title-text-color:#fff;
  --van-nav-bar-title-font-size:18px;
  --van-nav-bar-icon-color:#ffffff
}
